body{
    background-color: #111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
nav h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 35px;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
}
.squares{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}
.square{
    width: 200px;
    height: 200px;
    background-color:#009688de;
    margin: 5px;
    border-radius: 20px;
    position: absolute;
    transform: rotate(225deg);
}
.square:first-child{
    top: -2%;
    animation: squ1 0.8s forwards;
    transform: scale(1.5) rotate(-195deg);
}

.square:last-child {
    bottom: 5%;
    position: absolute;
    right: -6%;
}

.circle {
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border: 6px solid #009688de ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    transition: all 0.4s;
}

 button{
    background-color: white;
    margin-top: 50px;
    min-width: 200px;
    min-height: 55px;
    max-width: 300px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    padding: 0px 4px;
    transition: all 0.4s;
}

 
 button:hover{
     color: white;
     background-color: #009688de;
 }
 .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer span {
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
footer span a {
    color: #009688de;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
}
footer span a:hover{
    border-bottom: 2px solid #009688de;
}
